html {
  background-color: dimgray;
  font-size: 12pt;
  padding: 2em;
}

body {
  background-color: #fffff8;
  color: black;
  font-family: "Euphemia", "Grotesque", "Noto Sans", sans-serif;
  font-size: 1rem;
  min-height: 0.8vh;
  padding: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  color: purple;
  font-family: "High Tower Text", "Palatino Linotype", "Goudy Old Style", serif;
}
